<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>T3MS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>T3MS Connection</description>
    <res-ref-name>jdbc/T3MS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>FilmreviewServlet</servlet-name>
    <servlet-class>com.filmreview.controller.FilmreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmreviewServlet</servlet-name>
    <url-pattern>/filmreview/filmreview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Announcement</servlet-name>
    <servlet-class>com.announcement.controllor.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Announcement</servlet-name>
    <url-pattern>/backstage/announcement/ann.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TheaterServlet</servlet-name>
    <servlet-class>com.theater.controller.TheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterServlet</servlet-name>
    <url-pattern>/theater/theater.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CinemaServlet</servlet-name>
    <servlet-class>com.cinema.controller.CinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CinemaServlet</servlet-name>
    <url-pattern>/cinema/cinema.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.session.controller.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session/session.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketTypeServlet</servlet-name>
    <servlet-class>com.ticketType.controller.TicketTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketTypeServlet</servlet-name>
    <url-pattern>/ticketType/ticketType.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filmreview_MsgServlet</servlet-name>
    <servlet-class>com.filmreview_msg.controller.Filmreview_MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filmreview_MsgServlet</servlet-name>
    <url-pattern>/forestage/filmreview_msg/filmreview_msg.do</url-pattern>
  </servlet-mapping>
</web-app>