<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>T3MS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>T3MS Connection</description>
    <res-ref-name>jdbc/T3MS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>FilmreviewServlet</servlet-name>
    <servlet-class>com.filmreview.controller.FilmreviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmreviewServlet</servlet-name>
    <url-pattern>/filmreview/filmreview.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TicketOrder</servlet-name>
  	<servlet-class>com.ticketorder.controller.Ticket_OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TicketOrder</servlet-name>
  	<url-pattern>/ticketOrder/ticketOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activity</servlet-name>
    <servlet-class>com.activity.controller.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activity</servlet-name>
    <url-pattern>/backstage/activity/activity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Announcement</servlet-name>
    <servlet-class>com.announcement.controller.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Announcement</servlet-name>
    <url-pattern>/backstage/announcement/ann.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TheaterServlet</servlet-name>
    <servlet-class>com.theater.controller.TheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterServlet</servlet-name>
    <url-pattern>/theater/theater.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CinemaServlet</servlet-name>
    <servlet-class>com.cinema.controller.CinemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CinemaServlet</servlet-name>
    <url-pattern>/cinema/cinema.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.session.controller.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session/session.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketTypeServlet</servlet-name>
    <servlet-class>com.ticketType.controller.TicketTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketTypeServlet</servlet-name>
    <url-pattern>/ticketType/ticketType.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filmreview_MsgServlet</servlet-name>
    <servlet-class>com.filmreview_msg.controller.Filmreview_MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filmreview_MsgServlet</servlet-name>
    <url-pattern>/forestage/filmreview_msg/filmreview_msg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRegisterC</servlet-name>
    <servlet-class>com.member.controller.ServletRegisterC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegisterC</servlet-name>
    <url-pattern>/member/registerC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLoginC</servlet-name>
    <servlet-class>com.member.controller.ServletLoginC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginC</servlet-name>
    <url-pattern>/member/loginC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemRegistermailCheck</servlet-name>
    <servlet-class>com.member.controller.MemRegistermailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemRegistermailCheck</servlet-name>
    <url-pattern>/member/check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMemberUpdate</servlet-name>
    <servlet-class>com.member.controller.ServletMemberUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMemberUpdate</servlet-name>
    <url-pattern>/member/update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMemberPaw</servlet-name>
    <servlet-class>com.member.controller.ServletMemberPaw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMemberPaw</servlet-name>
    <url-pattern>/member/password.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.member.controller.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/member/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailAgain</servlet-name>
    <servlet-class>com.member.controller.MailAgain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailAgain</servlet-name>
    <url-pattern>/member/mailagain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMemberBackstage</servlet-name>
    <servlet-class>com.member.controller.ServletMemberBackstage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMemberBackstage</servlet-name>
    <url-pattern>/member/Bmember.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.common.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/forestage/member/successin.jsp</url-pattern>
    <url-pattern>/forestage/member/membercenter.jsp</url-pattern>
    <url-pattern>/forestage/member/changpaw.jsp</url-pattern>
    <url-pattern>/forestage/member/changfin.jsp</url-pattern>
<!--     <url-pattern>/forestage/ticketOrder/BookingSeat.jsp</url-pattern> -->
  </filter-mapping>
  <filter>
    <filter-name>LogoutFilter</filter-name>
    <filter-class>com.common.filter.LogoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogoutFilter</filter-name>
    <url-pattern>/forestage/member/loginf.jsp</url-pattern>
    <url-pattern>/forestage/member/registerf.jsp</url-pattern>
    <url-pattern>/forestage/member/forgotpaw.jsp</url-pattern>
    
  </filter-mapping>
  <servlet>
    <servlet-name>Movie_IntroduceServlet</servlet-name>
    <servlet-class>com.movie_introduce.controller.Movie_IntroduceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Movie_IntroduceServlet</servlet-name>
    <url-pattern>/backstage/movie_introduce/movie_introduce.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>com.movie.controller.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/backstage/movie/movie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Report_Filmreview_MsgServlet</servlet-name>
    <servlet-class>com.report_filmreview_msg.controller.Report_Filmreview_MsgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_Filmreview_MsgServlet</servlet-name>
    <url-pattern>/report_filmreview_msgServlet/report_filmreview_msgServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
		<servlet-name>Account_BackstageServlet</servlet-name>
		<servlet-class>com.account_backstage.controller.Account_BackstageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>Account_BackstageServlet</servlet-name>
		<url-pattern>/backstage/account_backstage/account_backstageServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
		<servlet-name>MomentServlet</servlet-name>
		<servlet-class>com.session.controller.MomentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>MomentServlet</servlet-name>
		<url-pattern>/forestage/movie_moment/moment.do</url-pattern>
  </servlet-mapping>
  
     <servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>com.account.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/backstage/account/account.do</url-pattern>
  </servlet-mapping>
   <servlet>
		<servlet-name>RoleServlet</servlet-name>
		<servlet-class>com.role.controller.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>RoleServlet</servlet-name>
		<url-pattern>/backstage/role/Role.do</url-pattern>
  </servlet-mapping>
  
</web-app>